@import "./src/responsive.scss";

.AboutUs{
    display: flex;
    flex-direction: column;
    height: 100%;

    .Intro{
        background-image:  url(./public/background.jpg) ;
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35vh;
        color: #332859;
    }
    .content{
        
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        #p{
            font-weight: 500;
            font-size: 17px;
            color: rgb(115, 115, 115);
        }
        .links{
            display: flex;
            align-items: center;
            height: 5vh;
            gap: 5px;
            a{
                color: red;
            }
        }
        .stats{
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 100px;
            h1{
                font-size: 50px;
                color: #332859;
            }
            h4{
                color: #332859;
            }
            .students-enrolled{
                h1{
                    color: rgb(255, 70, 70);
                }
                h4{
                    color: rgb(255, 70, 70);
                }
            }
        }
    }
    .JoeDoe{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: #332859;
        span{
            font-size: 50px;
            color: red;
        }
        #quote{
            width: 55%;
            text-align: center;
            font-size: 20px;
            
        }
    }
    .goals{
        display: flex;
        gap: 40px;
        color: #332859;
        padding-bottom: 30px;
        p{
            line-height: 30px;
            text-align: justify;
        }
    }
    .get-started{
        display: flex;
        align-items: center;
        height: 30vh;
        width: 100%;
        background-color: #e1e2e5;
        .container{
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            color: rgb(255, 75, 75);
            button{
                height: 60px;
                width: 200px;
                background-color: #332859;
                color: white;
                border: none;
                font-weight: 800;
                &:active{
                    scale: 1.02;
                    transition: ease 0.3s;
                }
            }
        }
        
    }
}