.Contact {
    display: flex;
    flex-direction: column;
    height: 100%;

    .Intro {
        background-image: url(./public/background.jpg);
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35vh;
        color: #332859;
    }

    .wrapper {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        .links {
            display: flex;
            align-items: center;
            height: 5vh;
            gap: 5px;
            a {
                color: red;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .paragraphs {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding-bottom: 20px;
            #p {
                font-weight: 500;
                font-size: 17px;
                color: rgb(115, 115, 115);
            }
        }

        .info {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 25vh;
            gap: 30px;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid #e1e2e5;
            border-bottom: 1px solid #e1e2e5;

            .icons {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                img {
                    height: 50px;
                    width: 50px;
                }
                p {
                    font-size: 12px;
                }
                h3 {
                    font-size: 18px;
                    color: #332859;
                }
                a {
                    font-size: 18px;
                    color: #332859;
                    &:hover{
                    text-decoration: underline;
                    }
                }
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px 0px 30px 0px;


            form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                input {
                    height: 40px;
                    padding: 10px;
                    border: 1px solid #e1e2e5;
                }

                input[type="text"][placeholder="Your Message"] {
                    grid-column: span 2;
                    height: 100px;
                }

                #Submit {
                    grid-column: span 2;
                    height: 40px;
                    width: 150px;
                    background-color: #332859;
                    border: none;
                    color: white;
                    cursor: pointer;
                    &:hover{
                      background-color: #4b3e7c;
                    }
                }
            }
        }
    }

    .get-started {
        display: flex;
        align-items: center;
        height: 30vh;
        width: 100%;
        background-color: #e1e2e5;

        .container {
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            color: rgb(255, 75, 75);

            button {
                height: 60px;
                width: 200px;
                background-color: #332859;
                color: white;
                border: none;
                font-weight: 800;
                cursor: pointer;
                &:hover{
                  background-color: #4b3e7c;
                }

                &:active {
                    scale: 1.02;
                    transition: ease 0.3s;
                }
            }
        }
    }
}
