.blogCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    .blog{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 30px;
        button{
            width: 30%;
            background-color: transparent;
            border: none;
            color: red;
            font-size: 15px;
            text-align: left;
            &:hover{
                text-decoration: underline;
            }
        }
        .wrapper{
            display: flex;
            gap: 5px;
            p{
            padding-right: 5px;
            border-right: 1px solid lightgrey;
            }
        }
    }
}